@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
	/*** Colores ***/
	--cAzul: #1a2226;
	--cBlanco: #ffffff;
	--cNegro: #1e1e1e;
	--cGris: #30383b;
	--cCeleste: #009cd6;
	--cCeleste_hover: #027eac;
	--cCeleste_focus: #034d68;
	--cRosa: #ef88ed;
	--cMorado: #8350db;
	--cVioleta: #7269e3;

	/*** Fuentes ***/
	--fontPrimary: 'Quicksand', sans-serif;
	--fontSecondary: 'Roboto', sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 10px = 1rem */
}

*,
*::after,
*::before {
	box-sizing: inherit;
	scroll-behavior: smooth;
	outline: none;
}

/*** Estilos Globales ***/
body {
	font-size: 1.6rem; /* 16px */
	line-height: 1.7;
	background-color: var(--cAzul);
	color: var(--cBlanco);
	font-family: var(--fontSecondary);
}

a {
	color: var(--cCeleste);
	text-decoration: unset;
}

a:hover {
	color: var(--cRosa);
}

a:focus {
	color: var(--cVioleta);
	border-bottom: 0.1rem solid var(--cVioleta);
}

button {
	background: transparent;
	border: unset;
	display: block;
	padding: 0;
	margin: 0;
}

button:hover {
	cursor: pointer;
}

img,
svg {
	max-width: 100%;
	display: block;
}

/*** Componentes ***/

/*** -Container ***/
.container {
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
}

/*** -Botones ***/
.btn-primary {
	background-color: var(--cCeleste);
	color: var(--cBlanco);
	padding: 1.5rem 3.2rem;
	border-radius: 2.4rem;
	font-size: 1.4rem;
}

.btn-primary:hover {
	background-color: var(--cCeleste_hover);
	color: var(--cBlanco);
	box-shadow: 1rem 1rem 3rem var(--cGris);
}

.btn-primary:focus {
	background-color: var(--cCeleste_focus);
	color: var(--cBlanco);
	outline: 0.25rem solid var(--cCeleste);
}

/*** Etilos del App ***/
.overlay-bg {
	position: fixed;
	inset: 0;
	z-index: -1;
	overflow: hidden;
	background-color: var(--cAzul);
	min-height: 100vh;
}

.overlay-bg::before {
	content: '';
	position: absolute;
	top: -10rem;
	left: -15rem;
	display: block;
	width: 41.6rem;
	height: 41.6rem;
	background: radial-gradient(
		var(--cRosa),
		var(--cMorado),
		var(--cVioleta)
	);
	border-radius: 100%;
	opacity: 0.5;
	mix-blend-mode: overlay;
	filter: blur(81px);
}

.overlay-bg::after {
	content: '';
	position: absolute;
	bottom: -10rem;
	right: -15rem;
	display: block;
	width: 41.6rem;
	height: 41.6rem;
	background: radial-gradient(
		var(--cRosa),
		var(--cMorado),
		var(--cVioleta)
	);
	border-radius: 100%;
	opacity: 0.5;
	mix-blend-mode: overlay;
	filter: blur(81px);
}

.welcome-app {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.welcome-app__title {
	font-family: var(--fontPrimary);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 4rem;
}

.header-la {
	padding: 2rem 0;
}

.page-la {
	padding: 4rem 0;
}

.page-la__title,
.page-la__description {
	margin: 0;
	font-family: var(--fontPrimary);
}

/*** Formulario ***/
.login-form {
	margin: 2rem auto;
	display: grid;
	gap: 2rem;
}

.login-form__control {
	position: relative;
}

.login-form__control label {
	text-transform: uppercase;
	font-size: 1.1rem;
	line-height: 1;
	font-weight: 700;
	display: block;
}

.login-form__control input {
	padding: 1.5rem;
	width: 100%;
	background-color: transparent;
	color: var(--cBlanco);
	border: unset;
	border-bottom: 1px solid var(--cGris);
}

.login-form__control .input-icon {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1.65rem;
}

.remember-session {
	display: flex;
	justify-content: center;
	align-items: center;
}

.remember-session input {
	display: none;
}

.remember-session .box {
	display: block;
	width: 2rem;
	height: 2rem;
	border: 0.2rem solid var(--cGris);
	border-radius: 0.5rem;
	margin-right: 0.5rem;
}

.remember-session input:checked ~ .box {
	background-color: var(--cCeleste);
}
