@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
	/*** Colores ***/
	--cAzul: #1a2226;
	--cBlanco: #ffffff;
	--cNegro: #1e1e1e;
	--cGris: #30383b;
	--cCeleste: #009cd6;
	--cCeleste_hover: #027eac;
	--cCeleste_focus: #034d68;
	--cRosa: #ef88ed;
	--cMorado: #8350db;
	--cVioleta: #7269e3;

	/*** Fuentes ***/
	--fontPrimary: 'Quicksand', sans-serif;
	--fontSecondary: 'Roboto', sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* Now 10px = 1rem! */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	scroll-behavior: smooth;
	outline: none;
}

body {
	font-size: 1.6rem;
	line-height: 1.7;
	background-color: var(--cAzul);
	color: var(--cBlanco);
	font-family: var(--fontSecondary);
}

a {
	color: var(--cCeleste);
	text-decoration: unset;
}

a:hover {
	color: var(--cRosa);
}

a:focus {
	color: var(--cVioleta);
	border-bottom: 1px solid var(--cVioleta);
}

button {
	background: transparent;
	border: unset;
	display: block;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

img {
	max-width: 100%;
	display: block;
}

/*** Componentes Globales ***/
.container {
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
}

/*** Estilizamos el body ***/
.overlay-bg {
	min-height: 100vh;
	position: fixed;
	inset: 0;
	z-index: -1;
	overflow: hidden;
	background-color: var(--cAzul);
}
.overlay-bg::before {
	content: '';
	position: absolute;
	top: -20rem;
	left: -20rem;
	width: 40rem;
	height: 40rem;
	background: radial-gradient(
		var(--cRosa),
		var(--cMorado),
		var(--cVioleta)
	);
	mix-blend-mode: overlay;
	border-radius: 100%;
	opacity: 0.6;
	filter: blur(30px);
}
.overlay-bg::after {
	content: '';
	position: absolute;
	top: auto;
	bottom: -20rem;
	right: -20rem;
	width: 40rem;
	height: 40rem;
	background: radial-gradient(
		var(--cRosa),
		var(--cMorado),
		var(--cVioleta)
	);
	border-radius: 100%;
	mix-blend-mode: overlay;
	opacity: 0.6;
	filter: blur(30px);
}

/*** Login App Index ***/
.welcome-app {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.welcome-app__title {
	font-family: var(--fontPrimary);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 4rem;
}

/*** Botones ***/
.btn-primary {
	background-color: var(--cCeleste);
	color: var(--cBlanco);
	padding: 1.2rem 3.2rem;
	border-radius: 2.4rem;
}

.btn-primary:hover {
	background-color: var(--cCeleste_hover);
	color: var(--cBlanco);
	box-shadow: 1rem 1rem 3rem var(--cGris);
}

.btn-primary:focus {
	background-color: var(--cCeleste_focus);
	color: var(--cBlanco);
	outline: 0.25rem solid var(--cCeleste);
}

/*** Header app ***/
.header-la {
	padding: 2rem 0;
}

/*** Page Login App ***/
.page-la {
	padding: 4rem 0;
}

.page-la__title,
.page-la__description {
	margin: 0;
	font-family: var(--fontPrimary);
}

/*** Form Login App ***/
.login-form {
	margin: 2rem auto;
	display: grid;
	gap: 2rem;
}

.login-form__control {
	position: relative;
}

.login-form__control label {
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: 700;
	display: block;
}

.login-form__control input {
	padding: 1.5rem;
	background-color: transparent;
	display: block;
	width: 100%;
	border: 0;
	border-bottom: 1px solid var(--cGris);
	color: var(--cBlanco);
}

.login-form__control .input-icon {
	padding: 1rem;
	position: absolute;
	right: 0;
	bottom: calc((49.39px / 2) - (36px / 2));
}

.login-form .btn-primary {
	padding: 2rem;
	font-family: var(--fontPrimary);
	font-weight: 400;
}

/*** Remember Session ***/
.remember-session {
	display: flex;
	justify-content: center;
	align-items: center;
}

.remember-session input {
	display: none;
}

.remember-session .box {
	display: block;
	width: 2rem;
	height: 2rem;
	border: 2px solid var(--cGris);
	border-radius: 0.6rem;
	margin-right: 0.5rem;
}

.remember-session input:checked ~ .box {
	background-color: #009cd6;
}
