@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
	/*** Colores ***/
	--cAzul: #1a2226;
	--cBlanco: #ffffff;
	--cNegro: #1e1e1e;
	--cGris: #30383b;
	--cCeleste: #009cd6;
	--cCeleste_hover: #027eac;
	--cCeleste_focus: #034d68;
	--cRosa: #ef88ed;
	--cMorado: #8350db;
	--cVioleta: #7269e3;

	/*** Fuentes ***/
	--fontPrimary: 'Quicksand', sans-serif;
	--fontSecondary: 'Roboto', sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* Now 10px = 1rem! */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	scroll-behavior: smooth;
	outline: none;
}

body {
	font-size: 1.6rem;
	line-height: 1.7;
	background-color: var(--cAzul);
	color: var(--cBlanco);
	font-family: var(--fontSecondary);
}

a {
	color: var(--cCeleste);
	text-decoration: unset;
}

a:hover {
	color: var(--cRosa);
}

a:focus {
	color: var(--cVioleta);
	border-bottom: 1px solid var(--cVioleta);
}

/*** Componentes Globales ***/
.container {
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
}

/*** Estilizamos el body ***/
.overlay-bg {
	min-height: 100vh;
	position: fixed;
	inset: 0;
	z-index: -1;
	overflow: hidden;
	background-color: var(--cAzul);
}
.overlay-bg::before {
	content: '';
	position: absolute;
	top: -20rem;
	left: -20rem;
	width: 40rem;
	height: 40rem;
	background: radial-gradient(
		var(--cRosa),
		var(--cMorado),
		var(--cVioleta)
	);
	mix-blend-mode: overlay;
	border-radius: 100%;
	opacity: 0.6;
	filter: blur(30px);
}
.overlay-bg::after {
	content: '';
	position: absolute;
	top: auto;
	bottom: -20rem;
	right: -20rem;
	width: 40rem;
	height: 40rem;
	background: radial-gradient(
		var(--cRosa),
		var(--cMorado),
		var(--cVioleta)
	);
	border-radius: 100%;
	mix-blend-mode: overlay;
	opacity: 0.6;
	filter: blur(30px);
}

/*** Login App Index ***/
.welcome-app {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.welcome-app__title {
	font-family: var(--fontPrimary);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 4rem;
}

/*** Botones ***/
.btn-primary {
	background-color: var(--cCeleste);
	color: var(--cBlanco);
	padding: 1.2rem 3.2rem;
	border-radius: 2.4rem;
}

.btn-primary:hover {
	background-color: var(--cCeleste_hover);
	color: var(--cBlanco);
	box-shadow: 1rem 1rem 3rem var(--cGris);
}

.btn-primary:focus {
	background-color: var(--cCeleste_focus);
	color: var(--cBlanco);
	outline: 0.25rem solid var(--cCeleste);
}

/*** Header app ***/
.header-la {
}
